*~
node_modules/
Documentation/
:*
HUGNET_LOCAL_DATABASE
old/
.swp.*
*.kate*
build/
rel/
src/webapi/html/hugnet.js
src/webapi/html/contrib.js
src/webapi/html/hugnet.min.js
src/webapi/html/contrib.min.js
*.gz
.kdev4
*.kdev4
